{% extends 'dbms/base.html' %}

{% block content %}
        <br>
        <br>
            <h1>Welcome to pharma</h1>
        <br>
        <br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Medicine and Agents</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Agent</th>
							<th>Stock</th>
							<th>Amount</th>
                            <th>Medicine</th>
							<th>view</th>
						</tr>

						{% for i in joined %}
							<tr>
								<td>{{i.agent_name}}</td>
								<td>{{i.stock}}</td>
								<td>{{i.total_amount}}</td>
                                <td>{{i.med_id_id}}</td>
								<td><a class="btn btn-sm btn-info" style="padding : 8px 12px;" href="">view</a></td>
  							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>
      </div>

{% endblock %}